<!doctype html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    <title>RL Demo</title>
    <link href="css/main.css" rel="stylesheet">

</head>

<body>
    <div class="page container">

        <div id="map-container" class="map-container"></div>
        <div class="stats-container">
        <div id="mini-map-container" class="mini-map-container">

            </div>
            <h3>Stats</h3>

            <div id="stats-container" class="tr">
                <span class="td">HP:</span>
                <span class="td">{hp} / {hpMax}</span>
            </div>

            <h3>Equipment</h3>
            <div id="equipment-container">
                <div class="tr">
                    <span class="td">Armor:</span>
                    <span class="td">
                        {slots.armor.name}
                    </span>
                    <span class="td">
                        {slots.armor.statDesc}
                    </span>
                </div>
                <div class="tr">
                    <span class="td">Melee:</span>
                    <span class="td" id="stat-melee-weapon-name">
                        {slots.weaponMelee.name}
                    </span>
                    <span class="td" id="stat-melee-weapon-stats">
                        {slots.weaponMelee.statDesc}
                    </span>
                </div>

                <div class="tr">
                    <span class="td">Ranged:</span>
                    <span class="td">
                        {slots.weaponRanged.name}
                    </span>
                    <span class="td">
                        {slots.weaponRanged.statDesc}
                    </span>
                </div>
                <div class="tr">
                    <span class="td">Ammo:</span>
                    <span class="td">
                        {slots.ammo.name} <span rv-if="slots.ammo">&times; {slots.ammo.ammoQuantity}</span>
                    </span>
                    <span class="td">
                        {slots.ammo.statDesc}
                    </span>

                </div>

            </div>

            <h3>Controls</h3>
            <div id="controls-container" class="controls">
                <div class="tr">
                    <div class="td">Action</div>
                    <div class="td">Keys</div>
                </div>

                <div class="tr" rv-each-action="keyBindings">
                    <div class="td">{action.name}</div>
                    <div class="td">{action.keys}</div>
                </div>

            </div>
        </div>
        <div id="console-directions" class="console-container"></div>
        <div id="console-container" class="console-container"></div>
        <div id="inventory-container" class="inventory-container">
            <h3>Inventory</h3>

            <div rv-each-item="inventoryViewData" class="inventory-item tr">
                <div class="td">
                    <strong rv-color="item.consoleColor">{item.name}</strong>
                </div>

                <div class="td">
                    {item.statDesc}
                </div>

                <div class="td">
                    x {item.quantity}
                </div>

                <div class="td">

                    <span class="btn btn-sm btn-default" rv-if="item.use" rv-use_item="item">use</span>
                    <span rv-each-slot="item.equipableToSlots">
                        <span class="btn btn-sm btn-default" rv-equip_item="item">Equip to {slot}</span>
                    </span>
                </div>
            </div>
        </div>
        <hr>
        <p>
            WIP Demo game using  <a href="https://github.com/unstoppablecarl/js-roguelike-skeleton">js-roguelike-skeleton</a>
        </p>
        <!-- Load Vendor js files -->
        <script src="js/vendor/rot.js"></script>
        <script src="js/vendor/jquery.min.js"></script>
        <script src="js/vendor/rivets.bundled.min.js"></script>


        <!-- Load Lib js files -->
        <script src="js/src/rl.js"></script>

        <script src="js/src/util.js"></script>
        <script src="js/src/mixins.js"></script>
        <script src="js/src/mixins/action-interface.js"></script>
        <script src="js/src/action.js"></script>

        <script src="js/src/array-2d.js"></script>
        <script src="js/src/map.js"></script>
        <script src="js/src/entity.js"></script>
        <script src="js/src/input.js"></script>
        <script src="js/src/mouse.js"></script>
        <script src="js/src/player.js"></script>
        <script src="js/src/renderer.js"></script>
        <script src="js/src/renderer-layer.js"></script>
        <script src="js/src/tile.js"></script>
        <script src="js/src/console.js"></script>
        <script src="js/src/fov-rot.js"></script>
        <script src="js/src/lighting-rot.js"></script>
        <script src="js/src/valid-targets.js"></script>
        <script src="js/src/valid-targets-finder.js"></script>
        <script src="js/src/object-manager.js"></script>
        <script src="js/src/multi-object-manager.js"></script>
        <script src="js/src/inventory.js"></script>
        <script src="js/src/item.js"></script>
        <script src="js/src/game.js"></script>

        <script src="js/mixins/equipment.js"></script>

        <script src="js/util.js"></script>
        <script src="js/action-types.js"></script>

        <script src="js/console.js"></script>
        <script src="js/furniture.js"></script>

        <script src="js/map-gen.js"></script>

        <script src="js/map-gen/template.js"></script>
        <script src="js/map-gen/floor.js"></script>
        <script src="js/map-gen/room.js"></script>
        <script src="js/map-gen/room-edge.js"></script>
        <script src="js/map-gen/door.js"></script>

        <script src="js/map-gen/template/floor.js"></script>
        <script src="js/map-gen/template/room.js"></script>
        <script src="js/map-gen/template/door.js"></script>

        <script src="js/random.js"></script>
        <script src="js/player.js"></script>
        <script src="js/game.js"></script>

        <script src="js/inventory.js"></script>
        <script src="js/item.js"></script>

        <script src="js/equipment.js"></script>
        <script src="js/renderer.js"></script>


        <script src="js/renderer-layer-types.js"></script>

        <script src="js/tile.js"></script>
        <script src="js/entity-types.js"></script>

        <script src="js/ui.js"></script>
        <script src="js/main.js"></script>


         <!-- <script src="test.js"></script> -->

</body>

</html>
